@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #23242a;
}

.box{
    position: relative;
    background: #1c1c1c;
    width: 380px;
    height: 450px;
    border-radius: 8px;
    overflow: hidden;

}

.box::before{
    content: '';
    position: absolute;
    width: 380px;
    height: 450px;
    top: -50%;
    bottom: -50%;
    background: linear-gradient(0deg, transparent,transparent, #45f3ff, #45f3ff,#45f3ff);
    transform-origin: bottom;
    animation: animate 6s linear infinite;
}

.random{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0%;
    left: 0%;
    background: linear-gradient(0deg, transparent,transparent, #ff2770, #ff2770,#ff2770);
    transform: translate(-50%);
    animation: animate2 6s linear infinite;
    animation-delay: -4.5s;
}

@keyframes animate{
    0%{
        transform: rotate(0deg);
    }

    100%{
        transform: rotate(360deg);
    }
}

@keyframes animate2{
    0%{
        transform: rotate(0deg) translate(-50%);
    }

    100%{
        transform: rotate(360deg) translate(-50%);

    }
}
.box form{
    position: absolute;
    inset: 4px;
    background: #222;
    padding: 50px 40px;
    display: flex;
    flex-direction: column;
}

.box form h2{
    color: #fff;
    font-size: 1.6rem;
    font-weight: 500;
    text-align: center;
    letter-spacing: 0.1rem;
}

.box form .inputBox{
    position: relative;
    width: 300px;
    margin-top: 35px;
}

.box form .inputBox input{
    width: 100%;
    position: relative;
    padding: 10px 10px;
    background: transparent;
    outline: none;
    border: none;
    color: #23242a;
    font-size: 1rem;
    transition: all 0.5s;
    letter-spacing: 0.05rem;
    z-index: 10;
}

.box form .inputBox span{
    position: absolute;
    left: 0;
    pointer-events: none;
    color: #8f8f8f;
    font-size: 1rem;
    transition: all 0.5s;
    letter-spacing: 0.05rem;
}

.box form .inputBox input:focus ~ span{
    color: #fff;
    font-size: 0.8rem;
    transform: translateY(-30px);
}

.box form .inputBox i{
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: #fff;
    height: 4px;
    width: 100%;
    overflow: hidden;
    transition: all 0.5;
}

.box form .inputBox input:focus ~ i{
    height: 45px;
}

.box form .links{
    display: flex;
    justify-content: space-between;
}

.box form .links a{
    margin: 15px 0;
    color: #8f8f8f;
    text-decoration: none;
    font-size: 0.8rem;
}

.box form .links a:hover{
    color: #fff;
}

.submit{
    padding: 10px 20px;
    font-size: 1rem;
    font-weight: 600;
    width: 100px;
}

.submit:hover{
    cursor: pointer;
    opacity: 0.75;
    transition: 0.3s;
}